<div class="buying-info">
  <div class="left">
    <div class="sellers">
      <div class="thumbnail" style="background-image: url('images/johann.jpg')"></div>
      <div class="thumbnail" style="background-image: url('images/alexandre.jpg')"></div>
    </div>
  </div>
  <div class="right">
    <div class="subtitle">Intéressé(e) ?</div>
    <p class="buy-description">Contactez-nous pour réserver l'item et prendre arrangement pour l'achat :</p>
    <ul class="contact-methods">
      <li><img src="images/messenger.png" class="icon"><a href="http://m.me/johannboutet" target="_blank">@johannboutet</a></li>
      <li><img src="images/email.png" class="icon"><a href="mailto:johannboutet@gmail.com">johannboutet@gmail.com</a></li>
      <li><img src="images/phone.png" class="icon"><a href="tel:+14182550581">418-255-0581</a></li>
    </ul>
    <hr>
    <p>Paiement via virement Interac, argent comptant ou écus d'or. La plupart des items seront disponibles à partir de la mi-juin.</div>
</div>