<div class="main container">
  <div class="row">
    {{#each categories}}
      {{#if items.length}}
        <h4 class="category-title"><a href="/categorie/{{slug}}">{{ name }}</a></h4>
        <div class="items-list">
          {{#each items}}
            {{> card-item}}
          {{/each}}
      </div>
      {{/if}}
    {{/each}}

    {{> buying-info}}
  </div>
</div>